<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="<%= resources.msg(page+'.description', 'metadata', '') %>">
        <meta name="keywords" content="<%= resources.msg(page+'.keywords', 'metadata', '') %>">
        <meta name="author" content="<%= resources.msg('author', 'metadata', 'Michael Moser Mucelin') %>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Portfolio Delivery System</title>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="vendor/css/fontawesome-all.min.css" />
        <link rel="stylesheet" href="build/css/main.css" />
    </head>
    <body>
        <nav class="main-menu">
            <%- include('partials/header'); %>
        </nav>
        <div class="main_content_wrapper">
            <%- include('partials/'+page); %>
        </section>
        <footer class="footer">
            <%- include('partials/footer'); %>
        </footer>
        <script src="vendor/js/jquery-3.2.1.min.js"></script>
        <script src="build/js/main.js"></script>
    </body>
</html>